@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    /*border: 1px red dotted; */
    
    
}

body {
    margin: 0;
    font-family: poppins;
    font-weight: 300;
    background-color: purple;
}

nav {
    padding: 15px 50px;
    max-height: 80px;
   background: white;
    
}

nav .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10%;
   
    
}

nav .navigation .navigation-menu{
    min-width: 61.350px;
}

nav .navigation .navigation-menu button{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
    border: none;
    background: none;
}

nav .navigation .navigation-menu button p{
    font-size: 1.5vw;
}

nav .navigation .navigation-menu button img{
    width: 1.5vw;

}

nav .navigation .navigation-logo img{
    width: 100%;
}

.nav-menu {
    transform: translateY(-1500px);
    position: absolute;
    height:auto;
    padding: 50px;
    display: flex;

}

.nav-menu .nav-isi{

width: 100%;
display: flex;
gap: 24%;
}

.find-us{
display: flex;
flex-direction: column;
}

.find-us li a img{
    width: 4vw;
    
}

.find-us .list-findus{
    display: none;
    flex-direction: column;
    gap: 10px;
    
}

.find-us li{
    margin-bottom: 10px;
}

.find-us .list-findus p{
    margin: 0px;
    
    
}

.find-us .list-findus p a{
color: white;
text-decoration: none;
transition: transform 0.5s ease-out;
display: inline-block;
}

.find-us .list-findus p a:hover{
transform: translateX(5px);

}



.nav-menu .nav-isi .isi-kiri{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-menu .nav-isi .isi-kiri p{
    color: white;
    font-size: 4vw;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 400;

}

.nav-menu .nav-isi .isi-kiri p:nth-child(2){
    color: white;
    font-size: 1.8vw;
    margin-top: 0px;
    font-weight: 300;
}

.nav-menu .nav-isi .isi-kiri> div ul {
    padding-left: 14px;
}

.nav-menu .nav-isi .isi-kiri> div ul li{
    color: white;
    font-size: 1.5vw;
}

.nav-menu .nav-isi .isi-kanan{
    width: 100%;
}

.nav-menu .nav-isi .isi-kanan ul{
   
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-menu .nav-isi .isi-kanan ul li{
    list-style: none;
    
}

.nav-menu .nav-isi .isi-kanan ul li a{
    text-decoration: none;
    color: white;
    font-size: 4vw;
    display: flex;
    transition: transform 0.5s ease-out;
    font-weight: 400;
}

.find-us li a {
    
    flex-direction: row;
}

.nav-menu .nav-isi .isi-kanan ul li a:hover{
    color: white;
    transform: translateX(5px);
    
}

.nav-menu .nav-isi .isi-kanan ul li:nth-child(3) a:hover{
    color: yellow;
    
    
}

.green {
    display: flex;
    height: 400px;
    background: greenyellow;
}

.blue {
    
    
    background: purple;
    padding: 0px 50px;
    
}


.blue> div{
    display: flex;
    width: 100%;
    height: 680px;
    
}

.blue .sect1-kiri {
    flex-direction: column;
    width: 40%;
    height: 100%;
    
    color: white;
    display: flex;
    justify-content: center;
   
}

.blue .sect1-kiri div {
    display: flex;
    margin: 20px 0px;
}

.blue .sect1-kiri p{
    margin: 0px;
    margin: 20px 0px;
    font-size: 1vw;
}

.blue .sect1-kiri h1{
    margin: 0px;
    
    font-size: 3.4vw;
    
}

.blue .sect1-kiri div{
    align-items: center;
    gap: 20px;
}

.blue .sect1-kiri div button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: white;
    border: 2px solid #e6822b;
    background: #e6822b;
    transition-duration: .5s;
    padding: 12px 40px;
    
}

.blue .sect1-kiri div button:hover{
    transform: scaleX(5px);
    background: purple;
    border: 2px solid #e6822b;
    color: white;
}

.blue .sect1-kiri div a{
    color: white;
    font-style: none;
    text-decoration: none;
    font-size: 1vw;
    margin: 10px 0px;
    transition-duration: .5s;
}

.blue .sect1-kiri div a:hover{
    color: #e6822b;
}

.blue .sect1-tengah {
    width: 40%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue .sect1-tengah div{
    height: 80%;
    width: 80%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.blue .sect1-tengah div img:nth-child(1){
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.blue .sect1-tengah div img:nth-child(2){
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    animation: melayang 4s infinite;
}



.blue .sect1-kanan {
    width: 20%;
    background-color: purple;
   
}

.blue .sect1-kanan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.blue .sect1-kanan h1{
    font-weight: 500;
    font-size: 2vw;
    margin: 0px;
    margin-bottom: 10px;
}

.blue .sect1-kanan h1{
    margin: 0px;
    margin-bottom: 10px;

}

.blue .sect1-kanan div p{
    margin: 0px;
    margin-bottom: 40px;
    font-size: 1vw;
}

.footer {
    
    max-height: 100%;
    background: rgb(95, 0, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0px 50px;
    
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .footer-wrap{
    width: 100%;
    height: 80%;
    
}
.footer .footer-wrap .footer0{
    display: flex;
    justify-content: center;
    gap: 12vw;
    color: white;
    font-size: 2vw;
    
}

.footer .footer-wrap .footer0 a{
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

.footer .footer-wrap .peranakan-footer{
    margin-top: 60px;
    display: flex;
    gap: 80px;
    
}

.footer .footer-wrap .peranakan-footer .footer1{
    width: 20%;
}

.footer .footer-wrap .peranakan-footer .footer1 img{
    width: 10vw;
}

.footer .footer-wrap .peranakan-footer .footer2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    min-height: 4vh;
    max-height: 4vh;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri{
    margin-right: 20px;
}



.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri h1{
    margin: 0px;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li{
    list-style: none;
    transition: transform 1s ease;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li:hover{
    color: #e6822b;
    transform: translateX(5px);
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 300;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li button{
    font-family: poppins;
    background: none;
    border: none;
    color: white;
    font-size: 1vw;
    font-weight: 300;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li button img{
    width: 1.5vw;
}   

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul div{
 
    display: none;
    
}
/* kanan */


.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan{
    margin-right: 20px;
    
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan h1{
    margin: 0px;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan ul li{
    list-style: none;
    transition: transform .5s ease;

}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan ul li:hover{
    color: #e6822b;
    transform: translateX(5px);
}

.footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan ul li a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 300;
}




/* footer 3 */

.footer .footer-wrap .peranakan-footer .footer3  {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer .footer-wrap .peranakan-footer .footer3 h1 {
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 500;
}

.footer .footer-wrap .peranakan-footer .footer3  p{
    margin: 0px;
    font-size: 1vw;
    margin-bottom: 4px;
    font-weight: 300;
}

.footer .footer-wrap .peranakan-footer .footer3 div{
    display: flex;
    gap: 10px;
    
}



.footer .footer-wrap .peranakan-footer .footer3 div input{
    padding: 1vw 2vw;
    font-size: 1vw;
}

.footer .footer-wrap .peranakan-footer .footer3 div a{
    color: white;
    text-decoration: none;
    font-size: 1vw;
    background-color: #e6822b;
    font-weight: 300;
    padding: 1vw 2vw;
}

/* Section buy */

.section-buy{
    display: flex;
    
    height: 740px;
    background: rgb(128,0,128);
    background: linear-gradient(180deg, rgba(128,0,128,1) 50%, rgba(95,0,95,1) 100%);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 80px;
}

.section-buy h1{
    font-weight: 300;
    font-size: 3vw;
    width: 60%;
}

.section-buy p{
    width: 52%;
    font-size: 1.6vw;
}

.section-buy .section-buy-beli{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: white;
    border: 2px solid #e6822b;
    background: #e6822b;
    transition-duration: .5s;
    padding: 1vw 4vw;
    text-decoration: none;
}

.section-buy .section-buy-beli:hover{
    transform: scaleX(5px);
    background: purple;
    border: 2px solid #e6822b;
    color: white;
}

.section-buy  .section-buy-cara{
    color: white;
    font-style: none;
    text-decoration: none;
    font-size: 1vw;
    margin: 20px 0px;
    transition-duration: .5s;
}

.section-buy  .section-buy-cara:hover{
    color: #e6822b;
}   

.alpavit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    
    padding: 0px 40px;
}

.alpavit .alpavit-wrapper {
    display: flex;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    color: white;
    background: rgb(223,113,18);
    background: linear-gradient(90deg, rgba(223,113,18,1) 50%, rgba(230,130,43,1) 100%);
}

.alpavit .alpavit-wrapper .wrapper-kiri{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: rgb(95, 0, 95);
    border-radius: 40px 0px 0px 40px;
}

.alpavit .alpavit-wrapper .wrapper-kiri img{
    width: 24vw;
    height: 100%;
}

.alpavit .alpavit-wrapper .wrapper-tengah{
    display: flex;
    justify-content: center;
    padding: 0% 2vw;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
    
}

.alpavit .alpavit-wrapper .wrapper-tengah h1{
    font-size: 2vw;
    margin: 0px;
    font-weight: 600;
}

.alpavit .alpavit-wrapper .wrapper-tengah p{
    font-size: 1vw;
    margin: 0px;
    font-weight: 300;
}

.alpavit .alpavit-wrapper .wrapper-kanan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    
}

.alpavit .alpavit-wrapper .wrapper-kanan button{
    background: none;
    border: none;
}

.alpavit .alpavit-wrapper .wrapper-kanan img{
    transform: rotate(270deg);
}

/* contact us */

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    background: purple;
}

.contact-wrapper {
    width: 90%;
    height: 90%;
    
    display: flex;
}

.contact-us .contact-wrapper .contact-kiri{
    height: 100%;
    width: 30%;
    color: white;
    padding: 4vw 4vw;
    display: flex;
    flex-direction: column;
    
}

.contact-us .contact-wrapper .contact-kiri p{
    font-family: poppins;
    font-weight: 300;
    font-size: 1vw;
    margin: 0px;
    margin-bottom: 40px;
}

.contact-us .contact-wrapper .contact-kiri h1{
    font-family: poppins;
    font-weight: 600;
    font-size: 1.5vw;
}

.contact-us .contact-wrapper .contact-kiri h1:nth-child(1){
    font-size: 2vw;
    width: 50%;
    margin-bottom: 10px;
}

.contact-us .contact-wrapper .contact-kanan{
    height: auto;
    width: 70%;
    background: white;
    border-radius: 40px;
    padding: 4vw 4vw;
    display: flex;
    flex-direction: column;
    
}

.contact-us .contact-wrapper .contact-kanan h1{
    font-family: poppins;
    font-weight: 600;
    font-size: 2vw;
    width: 60%;
    color: #242424;
    margin-top: 0px;
}

.contact-us .contact-wrapper .contact-kanan h1 img{
    width: 2vw;
}



.contact-us .contact-wrapper .contact-kanan .contact-1{
    display: flex;
    gap: 40px;
}

.contact-us .contact-wrapper .contact-kanan .contact-1 .contact-1-1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 50%;
    
    
}


.contact-us .contact-wrapper .contact-kanan .contact-1 .contact-1-2{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 50%;
    
}

.contact-us .contact-wrapper .contact-kanan .contact-2{
    display: flex;
    flex-direction: column;
    
    align-items: end;
    margin-top: 40px;
    gap: 40px;
    width: 100%;
    height: 120px;
}

.contact-input{
    width: 100%;
    height: 4vh;
    border: 1px solid #A7A7A7;
}

.contact-input_2{
    width: 100%;
    height: 100%;
    border: 1px solid #A7A7A7;
    position: relative;
    padding-bottom: 120px; 
}

.contact-input::placeholder{
    color: #A7A7A7;
    font-family: poppins;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    text-align: start;
    margin: 4px 0px 0px 4px;
    padding: 0px;
    
}

.contact-input_2::placeholder{
    color: #A7A7A7;
    font-family: poppins;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    text-align: start;
    margin: 4px 0px 0px 4px;
    padding: 0px;
    
}



.contact-us .contact-wrapper .contact-kanan .contact-2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    padding: 10px;
    background: #E6822B;
    color: white;
    font-family: poppins;
    font-weight: 400;
    border: none;
}



/* track order */

@keyframes melayang{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media screen and (max-width: 800px){
    .nav-menu .nav-isi{

        gap: 22%;
        }

    nav .navigation .navigation-menu button p{
        font-size: 4vw;
    }
    
    nav .navigation .navigation-menu button img{
        width: 4vw;
    
    }

    .find-us li a img{
        width: 5vw;
        
    }
    
    .nav-menu .nav-isi .isi-kiri p{
        color: white;
        font-size: 5vw;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    

    .nav-menu .nav-isi .isi-kiri p:nth-child(2){
        color: white;
        width: 200%;
        font-size: 2vw;
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        
    }

    .nav-menu .nav-isi .isi-kiri> div ul{
        margin: 0px;
        width: 200%;
    }

    .nav-menu .nav-isi .isi-kiri> div ul li{
        color: white;
        font-size: 2vw;
        width: auto;
    }
    
    .nav-menu .nav-isi .isi-kanan ul li a{
        text-decoration: none;
        color: white;
        font-size: 5vw;
        
    }

    

   
    
    .blue div{
        flex-direction: column;
        height: auto;
    }
    

    .blue .sect1-kiri {
    
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 2;
        /*margin-top: 20px;*/
    }

    .blue .sect1-kiri div{
        margin-top: 10px;
        margin-bottom: 20px;
        gap: 0px;
    }

    .blue .sect1-kiri div button{
        padding: 2vw 6vw;
        font-size: 2vw;
        margin-bottom: 10px;
        
    }

    .blue .sect1-kiri p{
        font-size: 2vw;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .blue .sect1-kiri h1{
        font-size: 5vw;
        
    }

    .blue .sect1-kiri div a{
        font-size: 2vw;
    }
    
    .blue .sect1-tengah {
        width: 100%;
        height: auto;
        order: 1;
    }

    
    
    .blue .sect1-kanan {
        width: 100%;
        height: 20%;
        order: 3;
    }

    .blue .sect1-kanan {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .blue .sect1-kanan h1{
        font-weight: 600;
        font-size: 2vw;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .blue .sect1-kanan h1{
        margin: 0px;
        margin-bottom: 4px;
        font-size: 3vw;
    }
    
    .blue .sect1-kanan div{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        
    }

    .blue .sect1-kanan div p{
        margin: 0px;
        margin-bottom: 10px;
        
        font-size: 2vw;
    }

    .blue .sect1-kanan div .alpa-kiri{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 20px;
    }

    .blue .sect1-kanan div .alpa-kiri h1{
        font-size: 4vw;
    }

    .blue .sect1-kanan div .alpa-kanan h1{
        font-size: 4vw;
    }

    .blue .sect1-kanan div .alpa-kanan{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 20px;
    }

    .footer .footer-wrap .peranakan-footer{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 10px;
        justify-content: center;
    }

    .footer .footer-wrap .peranakan-footer .footer1{
        height: auto;
        width: auto;
        
        order: 3;
    }

    

    .footer .footer-wrap .peranakan-footer .footer2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        min-height: 19vh;
        
    }

    .footer .footer-wrap .peranakan-footer .footer3{
        text-align: center;
    }

    .footer .footer-wrap .peranakan-footer .footer3 div{
        justify-content: center;
        align-items: center;
    }

    /* footer font-size */
    .footer .footer-wrap .footer0 {
        gap: 20px;
        margin-bottom: 60px;
        width: 100%;
        height: 100%;
    }

    .footer .footer-wrap .footer0 a{
        font-size: 2vw;
        
        
    }

    .footer .footer-wrap .peranakan-footer .footer1 img{
        width: 20vw;
    }

    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri h1{
        font-size: 2.5vw;
    }

    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan h1{
        font-size: 2.5vw;
    }

    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li a{
        font-size: 2vw;
    }

    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li button{
        font-size: 2vw;
    }
    
    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kiri ul li button img{
        width: 3vw;
    }   

    .footer .footer-wrap .peranakan-footer .footer2 .footer2-kanan ul li a{
        font-size: 2vw;
    }

    

    .footer .footer-wrap .peranakan-footer .footer3 h1 {
        margin: 0px;
        font-size: 2.5vw;
        font-weight: 500;
    }

    .footer .footer-wrap .peranakan-footer .footer3 p {
        margin: 0px;
        font-size: 2vw;
        font-weight: 300;
        margin: 4px 0px;
        margin-bottom: 20px;
    }

    .footer .footer-wrap .peranakan-footer .footer3 div input{
        margin: 0px;
        font-size: 2vw;
        padding: 1vw 2vw;
    }

    .footer .footer-wrap .peranakan-footer .footer3 div a{
        margin: 0px;
        font-size: 2vw;
        padding: 1vw 3vw;
    }

    /* Section buy */
    
    .section-buy{
        height: 80vh;
    }

    .section-buy h1{
   width: 140%;
   font-size: 4vw;
   width: 70vw;
    }

    .section-buy p{
    width: 140%;
    font-size: 2.8vw;
    width: 70vw;
    }

    .section-buy .section-buy-beli{ 
    margin-top: 20px;
    }

    .section-buy  .section-buy-cara{
    font-size: 2.4vw;
    }

    

    .alpavit .alpavit-wrapper{
        flex-direction: column;
        height: auto;
        background: rgb(223,113,18);
        background: linear-gradient(180deg, rgba(223,113,18,1) 50%, rgba(230,130,43,1) 100%);
    }    
    
.alpavit .alpavit-wrapper .wrapper-kiri{
    width: 100%;
    border-radius: 40px 40px 40px 40px;
}

.alpavit .alpavit-wrapper .wrapper-kiri img{
    width: 40vw;
    height: 100%;
    padding: 10vw 0px;
}

.alpavit .alpavit-wrapper .wrapper-tengah{
    width: 100%;
    min-height: 24vh;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alpavit .alpavit-wrapper .wrapper-tengah h1{
    font-size: 4vw;
}

.alpavit .alpavit-wrapper .wrapper-tengah p{
    margin-top: 10px;
    
    width: 90%;
    font-size: 2vw;
}

.alpavit .alpavit-wrapper .wrapper-kanan{
    width: 100%;
    
}

.alpavit .alpavit-wrapper .wrapper-kanan button{
    margin-top: 20px ;
    margin-bottom: 20px ;
}

/* kontak */

.contact-wrapper{
    flex-direction: column;
}

.contact-us {
    height: auto;
    margin-bottom: 45px;
}

.contact-us .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .contact-wrapper .contact-kiri h1:nth-child(1) {
    font-size: 5vw;
    margin-bottom: 40px;
}

.contact-us .contact-wrapper .contact-kiri p {
    margin-bottom: 0px;
}

.contact-us .contact-wrapper .contact-kiri {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-us .contact-wrapper .contact-kiri .kiri-atas h1{
    font-size: 4vw;
    margin: 0px;
    width: auto;
}
.contact-us .contact-wrapper .contact-kiri p {
    font-size: 4vw;
    margin-bottom: 40px;
}

.contact-us .contact-wrapper .contact-kanan{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-us .contact-wrapper .contact-kanan h1{
    font-size: 5vw;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-us .contact-wrapper .contact-kanan h1 img{
    width: 5vw;
}

.contact-us .contact-wrapper .contact-kanan .contact-1{
    flex-direction: column;
    
}

.contact-us .contact-wrapper .contact-kanan .contact-1 .contact-1-1{
    gap: 40px;
    width: 100%;
}

.contact-us .contact-wrapper .contact-kanan .contact-1 .contact-1-2{
    gap: 40px;
    width: 100%;
}

.contact-us .contact-wrapper .contact-kanan .contact-2{
    width: auto;
    margin-bottom: 20px;
}

.contact-us .contact-wrapper .contact-kanan .contact-2 input{
    padding-bottom: 20px;
    width: auto;
}

.contact-input_2::placeholder{
    color: #A7A7A7;
    font-family: poppins;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    text-align: start;
    margin: none;
    
}

.contact-us .contact-wrapper .contact-kanan .contact-2 button{
    width: auto;
    padding: 1vw 4vw;
}

}


