@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    /* border: 1px dotted red; */
    font-family: poppins;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    
    overflow: hidden;
}

nav .rotating-news{
    width: 100%;
    background: #7827E6;
    /* background: black; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid white;
}

nav .rotating-news p{
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: white;
    animation: rotating 20s linear infinite;
}

nav .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
    
    
}

nav .navigation a{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navigation button{
    background: none;
    border: none;
    font-weight: 300;
    font-size: 1.4vw;
    cursor: pointer;
}

nav .navigation-list{
    display: none; /* INI DI HIDE */
    padding: 40px 40px;
    background: black;
    height: 90vh;
    
}

nav .navigation-list ul{
    display: flex;
    flex-direction: column;
    
    list-style: none;
    width: auto;
    
    padding: 0;
    
    gap: 6vh;
}

nav .navigation-list ul li a{
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-size: 3vw;
    width: auto;
    
}

nav .navigation-list ul li{
    transition: transform .2s ease-in;
    width: auto;
}

nav .navigation-list ul li:hover{
    transform: translateX(20px);
}
/* NAVIGATION */

/* IMAGE SLIDER */

.image-slider{
    display: flex;
    width: 100%;
    height: 100%;
    background: black;
}

.image-slider img{
    width: 100%;
    height: 100%;
}


/* IMAGE SLIDER */



.header {
    padding: 120px 40px;
    display: flex;
    height: auto;
}

.header .header-kiri{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.header-kiri p{
    font-size: 1vw;
    
}

.header-kiri h1{
    width: 90%;
    font-size: 4vw;
    font-weight: 300;
}

.header-kiri button{
    border: 1px solid black;
    background: white;
    font-size: 1vw;
    width: 30%;
    padding: 1vh 0;
    cursor: pointer;
    transition: background .2s ease-in, border .2s ease-in, color .2s ease-in;
}

.header-kiri button:hover{
    border: 1px solid white;
    background: black;
    color: white;
}

.header-kanan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.header-kanan img{
    width: 25vw;
    
}

.header-kanan .gambar-header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-kanan .gambar-header img:nth-child(1){
    position: absolute;
    width: 14vw;
    animation: melayang 3s ease infinite;
}

.header-deskripsi{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-deskripsi h6{
 font-size: 1vw;
 font-weight: 500;
}

.header-deskripsi p{
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 20px;
}

/* MODAL-BOX */

.modal{
    display: none; /* INI DIHIDE */ 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.modal-box{
    display: flex;
    gap: 20%;
    flex-direction: column;
    padding: 40px;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 40px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

.modal-tombolx{
    display: flex;
    justify-content: end;
}

.modal-tombolx button{
    cursor: pointer;
    font-size: 1.4vw;
    background: none;
    border: none;
}

.modal-contain{
    display: flex;
}

.modal-gambar{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-gambar img{
    width: 25vw;
    height: 100%;
}

.modal-deskripsi{
    width: 50%;
    height: 100%;
}

.modal-deskripsi p{
    font-weight: 300;
    font-size: 1.2vw;
}

.modal-deskripsi h4{
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: 300;
    text-align: center;
    background: black;
    color: white;
    padding: .5vw .5vw;
}

/* MODAL-BOX */

/* GLOW BEYOND */

.beyond-glow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: white;
}

.beyond-glow p{
    font-weight: 300;
    font-size: 2vw;
}

/* GLOW BEYOND */


/* STORY */

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    
}

.story-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.story-image img{
    width: 30vw;
    height: 100%;
}

.story-box{
    display: flex;
    background: #7827E6;
    width: 80%;
    height: 80%;
    border-radius: 40px;
    padding: 20px;
}

.story-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.story-description p{
    font-size: 2vw;
    color: white;
    font-weight: 300;
}

.story-description h4{
    color: black;
    background: white;
    padding: 1vh 2vw;
    font-weight: 400;
}

/* STORY */


/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: black;
  
    height: 100%;
}

.footer-atas{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.footer-atas p{
    color: white;
    font-weight: 500;
    font-size: 1.4vw;
    
}

.footer-tengah{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-tengah ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.footer-tengah ul li a{
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 1vw;
    text-decoration: none;
    transition: transform .2s ease-in;
}

.footer-tengah ul li a:hover{
    color: white;
    transform: translateX(10px);
}

.footer-bawah{
    width: 100%;
    height: 10%;
}

.footer-bawah p{
    color: white;
    font-weight: 300;
    font-size: 1vw;
}


/* FOOTER */

/* BUNNY */

.vegan-header{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.vegan-header p{
    font-weight: 300;
    color: #878787;
    font-size: 2vw;
}

.vegan-header img{
    width: 6vw;
}

/* BUNNY */


/* SHOP */

.shop{
    display: flex;
    height: 600px;
    padding: 20px;
    margin-bottom: 40px;
}

.shop-content{
    display: flex;
    width: 100%;
    height: 100%;
  
    flex-direction: column;
}

.shop-button{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.shop-button p{
    font-size: 2vw;
    font-weight: 600;
}

.shop-button button{
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 300;
    font-size: 2vw;
}

.shop-content-bawah{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 0 20%;
}

.shop-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 30%;
    width: 40%;
    height: auto;
    background: white;
}

.shop-image{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    
}

.shop-image img{
    width: 100%;

    height: 100%;
}

.peak{
    position: absolute;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1vw;
    padding: .4vw 5vw;
    color: white;
    background: palevioletred;
    display: none;
    cursor: pointer;
    transition: background .2s ease;
    border: none;
}

.peak:hover{
    background: purple;
}

.hide-shop{
    display: none;
    flex-direction: column;
    gap: 4px;
    position: absolute;
}

.hide-shop button{
    background: rgb(243, 243, 243);
    font-size: 1.4vw;
    padding: .2vw .9vw;
}



.shop-box button:nth-child(2){
    margin-top: 10px;
    font-size: 1.2vw;
    border: none;
    background-color: white;
    cursor: pointer;
}

.shop-box button:nth-child(3){
    font-size: 1vw;
    border: none;
    background-color: white;
    font-weight: 300;
    cursor: pointer;
}

/* SHOP */

/* PRODUCT */

.product{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 40px;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.product img{
   width: 80%;
   height: 100%;
   background: rgb(0, 255, 0);
}

.product-description{
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-direction: column;
   width: 50%;
   height: 80%;
}

.product-description h2{
    font-weight: 600;
    font-size: 2vw;
}

.product-description h3{
    font-weight: 300;
    font-size: 1.4vw;
}

.product-description p{
    font-weight: 300;
    font-size: 1.2vw;
    width: 75%;
}

.product-description hr{
    width: 86%;
}

.product-description a{
    width: 80%;
    padding: .6vw 1.4vw;
    background: #7827E6;
    font-size: 1.vwvw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: background-color .2s ease-in;
}

.product-description a:hover{
    background-color: 	#EE4D2D;
}

/* PRODUCT */


@keyframes melayang{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}



@keyframes fadein{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes fadeout{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}


@keyframes rotating {
    0%{
        transform: translateX(900px);
    }
    100%{
        transform: translateX(-900px);
    }
}

@keyframes rotating-mobile {
    0%{
        transform: translateX(450px);
    }
    100%{
        transform: translateX(-450px);
    }
}

@media screen and (max-width: 800px) {
    nav .rotating-news p{
        animation: rotating-mobile 20s linear infinite;
    }

    nav .navigation{
        height: 60px;
        
        
    }
    
    nav .navigation img{
        width: 30vw;
    } 

    nav .rotating-news p{
        font-size: 3vw;
    }

    nav .navigation button{
        font-size: 3vw;
    }

    nav .navigation-list ul li{
     
    }

    nav .navigation-list ul li a{
        font-size: 6vw;
    }

    /* IMAGE SLIDER */
    .image-slider{
        overflow: hidden;
    }

    .image-slider img{
        width: 200%;
        height: 200%;
        transform: translateX(-30px);
            
            
    }
    /* IMAGE SLIDER */
   
    /* HEADER */
    .header{
        flex-direction: column;
        padding: 40px 40px;
    }
    /* HEADER */
    .header-kanan{
        order: 1;
    }
    .header-kiri{
        order: 2;
    }
    .header-deskripsi{
        order: 3;
    }

    .header-kanan {
        margin-top: 20px
    }
    
    .header-kanan img{
        width: 55vw;
        
    }
    .header-kanan .gambar-header img:nth-child(1){

        width: 40vw;
    
    }
    .header-kiri{
        text-align: center;
        margin: 40px 0px;
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }
    .header-kiri p{
        font-size: 2vw;
        margin-bottom: 20px;
    }

    .header-kiri h1{
        font-size: 5vw;
        margin-bottom: 20px;
    }
    .header-kiri button{
        font-size: 3vw;
        width: auto;
        padding: 1.5vw 2vw;
    }

    .header-deskripsi{
        text-align: center;
    }

    .header-deskripsi h6{
        font-size: 3vw;
    }
       
    .header-deskripsi p{
        font-size: 3vw;
    }
    
    .header-deskripsi{
        margin-bottom: 20px;
    }


    /* MODAL */
   
.modal{
  
}

.modal-box{
   height: auto;
   gap: 10px;
   padding: 40px;
}

.modal-tombolx{
    
}

.modal-tombolx button{
    font-size: 4vw;
}

.modal-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-gambar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-gambar img{
    width: 45vw;
    height: 100%;
}

.modal-deskripsi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-deskripsi p{
    margin: 20px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 2.5vw;
}

.modal-deskripsi h4{
    text-align: center;
    width: 70%;
    font-size: 2vw;
}
    /* MODAL */

    /* GLOW-BEYOND*/

    .beyond-glow p{
        font-size: 4vw;
    }
    


    /* GLOW-BEYONG*/

    /* GLOW BEYOND */

.beyond-glow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: white;
}

.beyond-glow p{
    font-weight: 300;
    font-size: 4vw;
}

/* GLOW BEYOND */


/* STORY */

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    
}

.story-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.story-image img{
    width: 70vw;
    height: 100%;
}

.story-box{
    display: flex;
    flex-direction: column ;
    height: auto;
    gap: 20px;
    padding: 40px 20px;
}

.story-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.story-description p{
    font-size: 3vw;
    text-align: center;
}

.story-description h4{
    color: black;
    background: white;
    padding: 1vh 2vw;
    font-weight: 400;
}

/* STORY */

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: black;
  
    height:30vh;
}

.footer-atas{
    width: 100%;
    height: 10%;
    margin-bottom: 40px;
}

.footer-atas p{
    color: white;
    font-weight: 500;
    font-size: 3vw;
}

.footer-tengah{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 40px;
}

.footer-tengah ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-tengah ul li a{
    color: white;
    font-weight: 300;
    font-size: 2.4vw;
    text-decoration: none;
}

.footer-bawah{
    width: 100%;
    height: 10%;
}

.footer-bawah p{
    color: white;
    font-weight: 300;
    font-size: 2.4vw;
}

/* BUNNY */

.vegan-header p{
    font-size: 3vw;
}

.vegan-header img{
    width: 14vw;;
}

/* BUNNY */

/* SHOP */

.shop{
    height: auto;
}

.shop-content-bawah{
    padding: 0 0;
}

.shop-box{
    width: 50%;
}

.shop-image img{
    height: 00%;
}

.shop-box button:nth-child(1){
    font-size: 2vw;
}

.shop-box button:nth-child(2){
    font-size: 3vw;
}

.shop-box button:nth-child(3){
    font-size: 2.4vw;
}

.shop-button p{
    font-size: 4vw;
    margin-bottom: 40px;
}

/* SHOP */

/* PRODUCT */

.product{
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 80px 0px;
}

.product-img{
    width: 100%;
}

.product img{
    width: 100%;
}

.product-description{
    width: 100%;
    
}

.product-description h2{
    font-size: 4vw;
}

.product-description h3{
    font-size: 3vw;
}

.product-description hr{
    width: 100%;
}

.product-description p{
    font-size: 3vw;
    width: 100%;
}

.product-description a{
    width: 100%;
    padding: 1.4vh 0px;
}



/* PRODUCT */
}
